@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Vazir;
  src: url("../src/assets/fonts/Vazir.ttf") format('truetype');
  font-weight: normal;
}
/* @font-face {
  font-family: Yekan;
  src: url("../src/assets/fonts/yekan/Yekan-normal.ttf") format('truetype');
  font-weight: normal;
} */
* {
    @apply font-vazir
  }
  .print{
    direction:rtl;
    background-size: cover;
    width:210mm;
    height:297mm;
     display: block;
    page-break-before: always;
  
  }
  @media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
  }
}